{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="main-content">
		<div class="tiles">
			<div class="tiles__item">
				<div class="tiles__item-image">
					<img src="{% static "img/Layer26.png" %}" alt="">
				</div>
				<div class="tiles__item-title">Физика</div>
				<div class="tiles__item-text">Замдиректора Института ядерной физики и технологий НИЯУ МИФИ Георгий Тихомиров рассказал о перспективах китайского проекта по созданию «искусственного солнца». Орбитальная электростанция: между фантастикой и планированием. Сможет ли Китай поставлять энергию на Землю прямо из космоса. Специалист считает, что китайская установка HL-2M «по каким-то параметрам будет превосходить существующие», однако «никакого прорыва в этом нет», передает телеканал «360»...</div>
				<div class="tiles__item-action">
					<a href="#" class="btn btn--default">Подробнее</a>
				</div>
			</div>
			<div class="tiles__item">
				<div class="tiles__item-image">
					<img src="{% static "img/Layer23.png" %}" alt="">
				</div>
				<div class="tiles__item-title">Классное руководоство</div>
				<div class="tiles__item-text">Прием «Ледокол» разработан для создания комфортных дружелюбных взаимоотношений между учениками. Цель приема — оценить эмоциональное состояние учеников, при необходимости подкорректировать его в лучшую сторону, устранить коммуникативный барьер и наладить контакт, преодолеть робость и помочь раскрыться в общении каждого из...</div>
				<div class="tiles__item-action">
					<a href="#" class="btn btn--default">Подробнее</a>
				</div>
			</div>
			<div class="tiles__item">
				<div class="tiles__item-image">
					<img src="{% static "img/Layer25.png" %}" alt="">
				</div>
				<div class="tiles__item-title">Ученикам</div>
				<div class="tiles__item-text">Задание по физике ученикам 8 класса...</div>
				<div class="tiles__item-action">
					<a href="#" class="btn btn--default">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<div class="main-contentinformation">
		<div class="main-contentinformation__foto">
			<img src="{% static "/img/star.jpg" %}" alt=""> 
		</div>
		<div class="main-contentinformation__infa">
			<div class="main-contentinformation__infa--h">Метеорные потоки стимулируют круговорот воды на Луне</div>
			<div class="main-contentinformation__infa--p">Исторически лунная поверхность считалась безводной: несмотря на то, что вокруг Луны есть газовая оболочка, она настолько разрежена, что не может удерживать воду миллиарды лет. Эту гипотезу поначалу подтверждали и исследования содержания воды в привезенных с поверхности Луны образцах — ее было либо ничтожно мало, либо вообще ниже предела чувствительности приборов. Но современные данные, полученные автоматическими станциями, указывают не только на присутствие воды в лунном грунте, но и на наличие круговорота воды между лунной поверхностью и атмосферой. Благодаря серии измерений, проведенных аппаратом LADEE во время прохождения Луны через метеорные потоки, появилась возможно</div>
		</div>
	</div>
	<div class="main-contentinformation">
		<div class="main-contentinformation__infa">
			<div class="main-contentinformation__infa--h">Метеорные потоки стимулируют круговорот воды на Луне</div>
			<div class="main-contentinformation__infa--p">Исторически лунная поверхность считалась безводной: несмотря на то, что вокруг Луны есть газовая оболочка, она настолько разрежена, что не может удерживать воду миллиарды лет. Эту гипотезу поначалу подтверждали и исследования содержания воды в привезенных с поверхности Луны образцах — ее было либо ничтожно мало, либо вообще ниже предела чувствительности приборов. Но современные данные, полученные автоматическими станциями, указывают не только на присутствие воды в лунном грунте, но и на наличие круговорота воды между лунной поверхностью и атмосферой. Благодаря серии измерений, проведенных аппаратом LADEE во время прохождения Луны через метеорные потоки, появилась возможность оценить, сколько воды содержится в приповерхностных слоях лунной поверхности, а также построить количественную модель водного цикл.</div>
		</div>
		<div class="main-contentinformation__foto">
			<img src="{% static "/img/star.jpg" %}" alt=""> 
		</div>
	</div>
	<div class="main-contentinformation">
		<div class="main-contentinformation__foto">
			<img src="{% static "/img/star.jpg" %}" alt=""> 
		</div>
		<div class="main-contentinformation__infa">
			<div class="main-contentinformation__infa--h">Метеорные потоки стимулируют круговорот воды на Луне</div>
			<div class="main-contentinformation__infa--p">Исторически лунная поверхность считалась безводной: несмотря на то, что вокруг Луны есть газовая оболочка, она настолько разрежена, что не может удерживать воду миллиарды лет. Эту гипотезу поначалу подтверждали и исследования содержания воды в привезенных с поверхности Луны образцах — ее было либо ничтожно мало, либо вообще ниже предела чувствительности приборов. Но современные данные, полученные автоматическими станциями, указывают не только на присутствие воды в лунном грунте, но и на наличие круговорота воды между лунной поверхностью и атмосферой. Благодаря серии измерений, проведенных аппаратом LADEE во время прохождения Луны через метеорные потоки, появилась возможность оценить, сколько воды содержится в приповерхностных слоях лунной поверхности, а также построить количественную модель водного цикла.</div>
		</div>
	</div>
{% endblock %}
