asgiref==3.2.7
Django==3.0.6
django-ckeditor==5.9.0
django-crispy-forms==1.9.0
django-environ==0.4.5
django-js-asset==1.2.2
djangorestframework==3.11.0
mysqlclient==1.4.6
Pillow==7.1.2
psycopg2-binary==2.8.5
pytz==2020.1
selenium==3.141.0
sqlparse==0.3.1
urllib3==1.26.5
