{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="mt-5">Приветствуем {{ user.get_username }}</h1>
    {% else %}
        <div class="">
            <h1 class="mt-5">Введите имя пользователя и пароль</h1>
            <form class="form-signin" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}
                {{ form|crispy }}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Запомнить меня
                    </label>
                </div>
                <button id="login-form-submit" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                <input type="hidden" name="next" value="{{ next }}" />
                <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
            </form>
        </div>
    {% endif %}
{% endblock %}
