{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="text-center form-signin">
    {% if user.is_authenticated %}
    {% else %}
        <h1 class="h3 mb-3 font-weight-normal">Введите имя пользователя и пароль</h1>
        <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {% if form.errors %}
                <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            {{ form|crispy }}
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Запомнить меня
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            <input type="hidden" name="next" value="{{ next }}" />
            <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        </form>
    {% endif %}
    </div>
{% endblock %}
